<%= link_to chat_room_path(chat_room), class: "card room", align: "center" do %>

<div class="card-header btn-group">
  <small class="chat-date text-muted">
    Posted <%= "#{time_ago_in_words(chat_room.created_at)} ago" %>
  </small>
  <div class="btn-group chat-btns">
  <button type="button" class="btn btn-light room-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-ellipsis-h"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <button class="dropdown-item" type="button">Hide This Room</button>
    <button class="dropdown-item" type="button">Bookmark This Room</button>
    <button class="dropdown-item" type="button">Something else here</button>
  </div>
</div>
</div>
<h2><%= "#{chat_room.title}" %></h2>
<p><strong><%= "#{chat_room.messages.size}" %></strong>

  <% if chat_room.messages.size > 1 || chat_room.messages.size == 0  # Checks to see how many messages in each room %>
  Messages
    <% else %>
  Message
    <% end %>
</p>
<% end %>
