<%= link_to chat_room_path(chat_room), class: "card room", align: "center" do %>


<div class="btn-group">
  <small class="chat-date text-muted">
    Posted <%= "#{time_ago_in_words(chat_room.created_at)} ago" %>
  </small>
  <span class="chat-btns btn-group">
    <button type="button" id="bookmark" class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Bookmark this room"><i class="far fa-bookmark"></i></button> <!-- Make button prioritize room to current user -->
    <button type="button" id="delete" class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Hide this room from me"><i class="fas fa-times"></i></button> <!-- Make button hide rooms from current user -->
  </span>
</div>
<hr>
<h2><%= "#{chat_room.title}" %></h2>
<p><strong><%= "#{chat_room.messages.size}" %></strong>

  <% if chat_room.messages.size > 1 || chat_room.messages.size == 0  # Checks to see how many messages in each room %>
  Messages
    <% else %>
  Message
    <% end %>
</p>
<% end %>
