<% provide(:title, "Rooms") %>

<div id="room-index">
  <!-- TODO Make header display your geological location -->
  <h1 align="center">Chat rooms in <%= request.location.city %></h1>
  <br>
  <% if @chat_rooms.size < 1 # Checks to see if room index is empty or not.%>
  <h1 id="no-room" align="center">Looks like this place is a little empty.  Why don't you make a room?</h1>
  <p class="lead-0" align="center"><%= link_to 'New chat room', new_chat_room_path, class: 'new-buttons new-chat-btn' %></p>
  <% else %>
  <ul class="row room-row">
    <p class="lead"><%= link_to 'New chat room', new_chat_room_path, class: 'new-buttons new-chat-btn' %></p>
    <%= render @chat_rooms.reverse %>
  </ul>
  <% end %>
  <br>
</div>
