<% provide(:title, "New Chat Room") %>

<div class="card form-align">
<h1>Add chat room</h1>

<%= form_for @chat_room do |f| %>
  <div class="form-group">
    <%= f.text_field :title, autofocus: true, class: 'form-control', placeholder: "Title" %>
  </div>

  <div class="form-group">
    <small class="text-muted">Optional:</small>
    <%= f.text_area :description, class: 'form-control', rows: 2, placeholder: "Description" %>
  </div>

  <%= f.submit "Create that room!", class: 'new-buttons' %>
<% end %>
</div>
