@import url("https://fonts.googleapis.com/css?family=Fugaz+One");
/* line 3, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
* {
  padding: 0px;
  margin: 0px;
}

/* line 8, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
input, button {
  border: none;
}

/* line 12, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
::-moz-selection {
  background: #ffb7b7;
  /* WebKit/Blink Browsers */
}
::selection {
  background: #ffb7b7;
  /* WebKit/Blink Browsers */
}

/* line 15, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
::-moz-selection {
  background: #ffb7b7;
  /* Gecko Browsers */
}

/* line 19, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
html {
  height: 100%;
}

/* line 23, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
body {
  height: 100%;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-image: url("funky-lines.png") !important;
}

/* Navbar */
/* line 35, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.navbar-nav .nav-item span {
  display: block;
}

/* line 39, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.navbar {
  padding: 0px !important;
  background-color: #573c7a;
}

/* line 44, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.logo {
  font-size: 3rem;
  color: lightgrey;
  font-family: 'Fugaz One', cursive;
}
/* line 48, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.logo:hover {
  text-decoration: none;
  color: white;
}

/* line 54, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.profile-button {
  height: 100%;
  background-color: #573c7a;
  transition: .5s;
  color: white;
  font-weight: bold;
  padding: 20px;
  font-size: 1.5rem;
}
/* line 62, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.profile-button:hover {
  background-color: #8A4ACE;
  text-decoration: none;
  color: white;
  transition: .5s;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  /* line 72, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
  .chat-btns {
    margin-left: 42%;
  }
}
/* line 77, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.container {
  margin-top: 2%;
  height: auto;
  min-width: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}

/* line 86, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
h1 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* line 91, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
#send-buttons {
  background-color: teal;
  transition: .5s;
  color: white;
  font-weight: bold;
  padding: 15px;
}
/* line 97, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
#send-buttons:hover {
  background-color: turquoise;
  text-decoration: none;
  color: white;
  box-shadow: 1px 1px 10px black;
  transition: .5s;
  cursor: pointer;
}

/* Login Screen */
/* line 109, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.login-page {
  margin-top: 10%;
}

/* line 113, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.left-login {
  margin: auto;
  margin-left: 0px;
}
/* line 114, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.left-login h1 {
  margin-bottom: 3%;
  top: 0px;
}

@media only screen and (max-width: 700px) {
  /* line 123, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
  .left-login {
    margin-bottom: 10%;
    border-bottom: 1px lightgray solid;
  }
}
/* line 129, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.right-login {
  float: right;
  margin: auto;
  margin-right: 0px;
}

/* Sign Up */
/* line 137, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.name-input {
  display: flex;
  justify-content: space-between;
}

/* line 142, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.new-buttons {
  background-color: teal;
  transition: .5s;
  color: white;
  font-weight: bold;
  padding: 20px;
  font-size: 1.5rem;
}
/* line 149, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.new-buttons:hover {
  background-color: turquoise;
  text-decoration: none;
  color: white;
  transition: .5s;
  cursor: pointer;
}

/* Chat Room Index */
/* line 160, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
a.card.room h2 {
  margin-top: 5%;
}

/* line 164, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.lead {
  margin: auto 50px auto 50px;
}

@media only screen and (max-width: 500px) {
  /* line 169, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
  .lead {
    margin: auto 30px 50px 30px;
  }
}
/* line 174, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.chat-room {
  margin: auto;
  width: 70%;
}

/* line 179, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.chat-btns {
  margin-left: 45%;
}

@media only screen and (max-width: 700px) {
  /* line 184, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
  .chat-btns {
    margin-left: 42%;
  }
}
/* line 189, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.room-row {
  max-width: 100%;
  justify-content: center;
}

/* line 194, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
#delete:hover {
  background-color: #d53549;
}

/* line 198, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.msg-card {
  background-color: white;
  padding: 1%;
  border-bottom: 1px lightgray solid;
}

/* line 204, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.card-header {
  padding: .35rem .75rem !important;
}

/* line 208, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.msg-card:hover,
.room:hover {
  background-color: #f7f7f7;
}

/* line 213, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.room {
  width: 18rem;
  margin: 2%;
  color: black;
}
/* line 217, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.room:hover {
  text-decoration: none;
}

/* line 222, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.msg-box {
  width: 100%;
  height: 78%;
  overflow: hidden;
}

/* line 228, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.form-group {
  margin: 3% 0 3% 0;
}

@media only screen and (max-width: 900px) {
  /* line 233, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
  .msg-box {
    height: 73%;
  }
}
/* line 238, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
#room-index {
  max-width: 45%;
  margin: auto;
}

@media only screen and (max-width: 1100px) {
  /* line 244, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
  #room-index {
    padding: 50px;
    max-width: 100%;
  }
}
/* line 250, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
#no-room {
  margin: auto;
}

/* line 254, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
#messages {
  max-height: 550px;
  min-height: 550px;
  overflow-y: auto;
}
/* line 258, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
#messages .avatar {
  margin: 0.5rem;
}

@media only screen and (max-width: 500px) {
  /* line 264, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
  .chat-room {
    margin: auto;
    width: 100%;
  }
}
/* line 270, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.msg-input {
  bottom: auto;
  width: 58%;
}

@media only screen and (max-width: 1500px) {
  /* line 276, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
  .msg-input {
    width: 77%;
  }
}
@media only screen and (max-width: 1200px) {
  /* line 282, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
  .msg-input {
    width: 90%;
  }
}
/* Profile Page */
/* line 289, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.profile,
.form-align {
  border-radius: 15px !important;
  margin: auto;
  width: 35%;
  padding: 1%;
}

@media only screen and (max-width: 800px) {
  /* line 298, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
  .profile,
  .form-align {
    border-radius: 15px !important;
    margin: auto;
    width: 100%;
  }
}
/*Sticky Footer*/
/* line 308, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -71px;
}

/* line 314, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.page-wrap:after {
  content: "";
  display: block;
}

/* line 319, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.site-footer, .page-wrap:after {
  height: 71px;
}

/* line 323, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
.site-footer {
  background-color: #573c7a;
  color: black;
}

@media only screen and (max-width: 1200px) {
  /* line 329, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
  .site-footer {
    margin-top: 20%;
  }
}
/*end of Sticky Footer*/
/* line 336, /home/matthew/Desktop/WebDev/chatterbox/app/assets/stylesheets/application.scss */
footer {
  bottom: 0px;
  height: 50px;
  background-color: #573c7a;
  margin: 0px;
}
