@import url('https://fonts.googleapis.com/css?family=Fugaz+One');

* {
  padding: 0px;
  margin: 0px;
}

input, button {
  border: none;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

html{
  height: 100%;
}

body {
  height: 100%;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-image: url("funky-lines.png") !important;
}

.dropdown-menu {
  margin-top: 0px !important;
  box-shadow: 2px 2px 10px slategray;
}

.dropdown-item {
  cursor: pointer;
}

/* Navbar */

.navbar-nav .nav-item span {
  display: block;
}

.navbar {
  padding: 0px !important;
  background-color: #573c7a;
}

.logo {
  margin-left: 20%;
  font-size: 3rem;
  color: lightgrey;
  font-family: 'Fugaz One', cursive;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.nav-pills {
  margin-right: 20%;
}

@media only screen and (max-width: 800px) {
  .logo {
    margin-left: 0%;
  }
  .nav-pills {
    margin-right: 0%;
  }
}

.profile-button {
  height: 100%;
  background-color: #573c7a;
  transition: .5s;
  color: white;
  font-weight: bold;
  padding: 20px;
  font-size: 1.5rem;
  &:hover {
    background-color: #8A4ACE;
    text-decoration: none;
    color: white;
    transition: .5s;
    cursor: pointer;
  }
}

.profile-button .dropdown-menu {
  width: 100%;
}


@media only screen and (max-width: 700px) {
  .chat-btns {
    margin-left: 42%;
  }
}

.container {
  margin-top: 2%;
  height: auto;
  min-width: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}

h1 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#send-buttons {
  background-color: teal;
  transition: .5s;
  color: white;
  font-weight: bold;
  padding: 7px;
  &:hover {
    background-color: turquoise;
    text-decoration: none;
    color: white;
    box-shadow: 1px 1px 10px black;
    transition: .5s;
    cursor: pointer;
  }
}

/* Login Screen */

.login-page {
  margin-top:10%;
}

.left-login {
  h1{
    margin-bottom: 3%;
    top: 0px;
  }
  margin: auto;
}

@media only screen and (max-width: 700px) {
  .left-login {
    margin-bottom: 10%;
    border-bottom: 1px lightgray solid;
  }
}

.right-login {
  float: right;
  margin: auto;
  margin-right: 0px;
}

/* Sign Up */

.name-input {
  display: flex;
  justify-content:space-between;
}

.new-buttons {
  background-color: teal;
  transition: .5s;
  color: white;
  font-weight: bold;
  padding: 20px;
  font-size: 1.5rem;
  &:hover {
    background-color: turquoise;
    text-decoration: none;
    color: white;
    transition: .5s;
    cursor: pointer;
  }
}

/* Chat Room Index */

a.card.room h2 {
  margin-top: 5%;
}

.lead-0 {
  margin-top: 10%;
}

.lead {
  margin: auto 60px 80px 60px;
}

@media only screen and (max-width: 500px) {
  .lead {
    margin: auto 10px 50px 10px;
  }
}

.chat-room {
  margin: auto;
  width: 62%;
}

@media only screen and (max-width: 800px) {
  .chat-room {
    margin: 0px !important;
    width: 100% !important;
  }
}

.room-options {
  border-radius: 35px !important;
}

.chat-btns {
  margin-left: 45%;
}

@media only screen and (max-width: 700px) {
  .chat-btns {
    margin-left: 42%;
  }
}

.room-row {
  max-width: 100%;
  justify-content: center;
  margin: 0px !important;
}

#delete:hover {
  background-color: #d53549;
}

.msg-card{
  background-color: white;
  padding: 1%;
  border-bottom: 1px lightgray solid;
}

.card-header {
  padding: .35rem .75rem !important;
}

.profile-header {
  border: 1px lightgray solid;
  margin-bottom: 5% !important;
}

h2.card-header.profile-header {
  margin-bottom: 0 !important;
}

.msg-card:hover,
.room:hover {
  background-color: #f7f7f7;
  box-shadow: 2px 2px 20px slategray;
  transition: .7s;
}

.room {
  width: 18rem;
  margin: 2%;
  color: black;
  transition: .7s;
  &:hover {
    text-decoration: none;
  }
}

.msg-box {
  width: 100%;
  height:78%;
  overflow: hidden;
}

.form-group {
  margin: 3% 0 3% 0;
}

@media only screen and (max-width: 900px) {
  .msg-box {
    height:73%;
  }
}

#room-index {
  max-width: 65%;
  margin: auto;
}

@media only screen and (max-width: 1100px) {
  #room-index {
    padding: 50px;
    max-width: 100%;
  }
}

#no-room{
  margin: auto;
}

/* Messages */

#messages {
  max-height: 550px;
  min-height: 550px;
  overflow-y: auto;
  .avatar {
    margin: 0.5rem;
  }
}

#no-msg {
  margin: 15%;
}

@media only screen and (max-width: 500px) {
  .chat-room {
    margin: auto;
    width: 100%;
  }
}

.msg-input {
  bottom: auto;
  width: 58%;
}

@media only screen and (max-width: 1500px) {
  .msg-input {
    width: 77%;
  }
}

@media only screen and (max-width: 1200px) {
  .msg-input {
    width: 90%;
  }
}

/* Profile Page */

.profile,
.form-align {
  border-radius: 15px !important;
  margin: auto;
  width: 35%;
  padding: 1%;
}

@media only screen and (max-width: 800px) {
  .profile,
  .form-align {
    border-radius: 15px !important;
    margin: auto;
    width: 100%;
  }
}

/*Sticky Footer*/

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -71px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 71px;
}

.site-footer {
  background-color: #573c7a;
  color: black;
}

@media only screen and (max-width: 1200px) {
  .site-footer {
    margin-top: 20%;
  }
}

/*end of Sticky Footer*/

footer {
  bottom: 0px;
  height: 50px;
  background-color: #573c7a;
  margin: 0px;
}
