@import url('https://fonts.googleapis.com/css?family=Fugaz+One');

* {
  padding: 0px;
  margin: 0px;
}

input, button {
  border: none;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

html{
  height: 100%;
}

body {
  height: 100%;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.navbar-nav .nav-item span {
  display: block;
}

.navbar {
  background-color: #573c7a;
}

.logo {
  font-size: 3rem;
  color: lightgrey;
  font-family: 'Fugaz One', cursive;
  &:hover {
    text-decoration: none;
    color: white;
  }
}


.container {
  margin-top: 2%;
  height: auto;
  min-width: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}

h1 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#send-buttons {
  background-color: teal;
  transition: .5s;
  color: white;
  font-weight: bold;
  padding: 15px;
  &:hover {
    background-color: #turquoise;
    text-decoration: none;
    color: white;
    box-shadow: 1px 1px 10px black;
    transition: .5s;
    cursor: pointer;
  }
}

/* Login Screen */

.login-page {
  margin-top:10%;
}

.left-login {
   h1{
    margin-bottom: 3%;
    top: 0px;
  }
  margin: auto;
  margin-left: 0px;
}

.right-login {
  float: right;
  margin: auto;
  margin-right: 0px;
}

/* Sign Up */

.name-input {
  display: flex;
  justify-content:space-between;
}

.new-buttons {
  background-color: teal;
  transition: .5s;
  color: white;
  font-weight: bold;
  padding: 20px;
  font-size: 1.5rem;
  &:hover {
    background-color: turquoise;
    text-decoration: none;
    color: white;
    transition: .5s;
    cursor: pointer;
  }
}

.msg-card{
  padding: 1%;
  border-bottom: 1px lightgray solid;
}

.card {
  padding: 1%;
}

.msg-card:hover,
.card:hover {
  background-color: #f7f7f7;
}

.room {
  width: 18rem;
  margin: 10px auto 10px auto;
  color: black;
  &:hover {
    text-decoration: none;
  }
}

.msg-box {
  width: 100%;
  height:78%;
  overflow: hidden;
}

.form-group {
  margin: 3% 0 3% 0;
}

@media only screen and (max-width: 900px) {
    .msg-box {
        height:73%;
    }
}

#room-index {
  padding: 10%;
}

@media only screen and (max-width: 900px) {
  #room-index {
    padding: 50px;
  }
}

#no-room{
  margin: auto;
}

#no-msg {

}

#messages {
  max-height: 550px;
  min-height: 550px;
  overflow-y: auto;
  .avatar {
    margin: 0.5rem;
  }
}

.msg-input {
  bottom: auto;
  width: 58%;
}

@media only screen and (max-width: 1500px) {
    .msg-input {
        width: 77%;
    }
}

@media only screen and (max-width: 1200px) {
    .msg-input {
        width: 90%;
    }
}

/*Sticky Footer*/

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 142px;
}

.site-footer {
  background-color: #573c7a;
  color: black;
}

@media only screen and (max-width: 1200px) {
    .site-footer {
        margin-top: 20%;
    }
}

/*end of Sticky Footer*/

footer {
  bottom: 0px;
  height: 50px;
  background-color: #573c7a;
  margin: 0px;
}
